.App {
  text-align: center;
  height:100vh;
  width:100vw;
}

p {
  margin: 0;
  color:#D4D7DD;
  text-align: left;
}

::-webkit-scrollbar {
  display: none;
}

input:focus{
  outline: none;
}
.selected-svg {
  filter:invert(79%) sepia(52%) saturate(5760%) hue-rotate(148deg) brightness(108%) contrast(106%);
}

@media only screen and (max-width: 800px) {
    .navbar {
      overflow:hidden;
      width:0 !important;
    }

    .content {
      padding: 0 !important;
    }

    .card {
      justify-content: center !important;
    }
    .card > div {
      width:100% !important;
    }
}
